@@ -0,0 +1,98 @@
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    /* background-color: #edfbfd; */
}
header{
    font-size: 13pt;
    text-align: center;  
}
.container {
    text-align: center;
    padding : 5em;
    border : 3px solid #ebe9e9;
    width : 80vw;
    /* height : 90vh; */
    margin : 5vh 5vw;
}
#imgContainer {
    width: 60%;
    height: 80%;
}
.col {
    display : inline-block;
    vertical-align: top;
    text-align: center;
}
.row {padding: 2em;}
table {text-align: left; width : 100%;}
th {font-weight: bold;border-bottom: 1px solid #424242;}

#list {display : none;border-collapse: separate; }
#list td {
    border: 0px;
    border-bottom: 1px solid #424242;
}
img {
    display: inline-block;
    width : 100%;
    height: auto;
}

.red-dot {
    position: absolute;
    background-color: red;
    width: .6em;
    height: .6em;
    border: 1.5px solid white;
    box-shadow: 1px 1px 1px 1px #948383;
    border-radius: 50%;
}
.tip {
    display: none;
    position: absolute;
    border: 1px solid grey;
    background-color: aliceblue;
    padding: 5px 8px;
    font-size: 10pt;
    box-shadow: 1px 1px 1px 1px #626161;
}
.red-dot:hover + .tip {
    display: block;
}
.desc {
    position: absolute;
    background-color: #edfbfd;
    border: 1px solid #424242;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px #c3bdbd;
}
input[type="text"] {
    outline: none;
    border:1px solid #c9c6c6;
    margin-bottom: 3px;
}
input[type="text"]:active, input[type="text"]:focus {
    border : 1px solid rgb(57, 149, 253);
}
button {
    color: #fff;
    padding: .2em .4em;
    border-radius: 2px;
    border: 1px solid #fff;
    float: right;
}
.save {
    background-color: #258425;
}
.cancel {
    background-color: #df2727;
}
label {
    font-size: 8.5pt;
    margin-bottom: 3px;
    display: inline-block;
    font-weight: 600;
    color: #424242;
}