
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    /* background-color: #edfbfd; */
}
header{
    font-size: 13pt;
    text-align: center;  
}
.container {
    text-align: center;
    padding : 1em;
    border : 3px solid #ebe9e9;
    width : 80vw;
    /* height : 90vh; */
    margin : 5vh 5vw;
}
#imgContainer {
    width: 450px !important;
}
.col {
    display : inline-block;
    vertical-align: top;
    text-align: center;
}
.row {padding: 1em;}
table {
    text-align: center;
    margin: auto;
    margin-top: 2em;
    background: #f4faff;
    padding: .5em; 
}
#prop {
    width : 400px;
}
thead {
    font-weight: bold;
    font-size: 10pt;
}
th {
    border-bottom: 2px solid #dedede;
}
#list-container{   
    overflow: auto;width: 400px;
}
#list {
	visibility : hidden;
	border-collapse: separate; 
    background-color: #eff6fc;
    margin : 0px;
    width : auto;
}
#list td {
    border: 0px;
    border-bottom: 1px solid #8dc5f6;
}
img {
    display: inline-block;
    width : 100%;
    height: auto;
}

.red-dot {
    position: absolute;
    background-color: red;
    width: .6em;
    height: .6em;
    border: 1.5px solid white;
    box-shadow: 1px 1px 1px 1px #948383;
    border-radius: 50%;
}
.tip {
    display: none;
    position: absolute;
    border: 1px solid #7acbff;
    background-color: aliceblue;
    padding: 5px 8px;
    font-size: 10pt;
    box-shadow: 1px 1px 1px 1px #b4b9bb;
    z-index: 100;
    transition: 2s display;
    width: 150px;
    overflow : auto;
}
.red-dot:hover + .tip {
    display: block;
}
.desc {
    position: absolute;
    background-color: #edfbfd;
    border: 1px solid #b0ebff;
    padding: 5px 8px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px #c3bdbd;
}
input[type="text"] {
    outline: none;
    border:1px solid #c9c6c6;
    margin-bottom: 3px;
}
input[type="text"]:active, input[type="text"]:focus {
    border : 1px solid rgb(57, 149, 253);
}
button {
    color: #fff;
    padding: .2em .4em;
    border-radius: 2px;
    border: 1px solid #fff;
    float: right;
}
.save {
    background-color: #258425;
}
.cancel {
    background-color: #df2727;
}
label {
    font-size: 8.5pt;
    margin-bottom: 3px;
    display: inline-block;
    font-weight: 600;
    color: #424242;
}